/* Copyright 2020 the Deno authors. All rights reserved. MIT license. */

/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

.link {
  @apply text-blue-500;
  @apply transition;
  @apply duration-75;
  @apply ease-in-out;
}

.link:hover {
  @apply text-blue-400;
}

.keyword {
  color: #d73a49;
}

@media (prefers-color-scheme: dark) {
  .link {
    @apply text-blue-500;
  }

  .link:hover {
    @apply text-blue-400;
  }

  .keyword {
    color: #ff7b72;
  }
}
